<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>NewsSnooze</title>
    {% endif %}
</head>
<body>
    <div class="container sources">
        <div class="row">
            {% for source in sources %}
            <div class="col-lg-4 col-md-4 col-sm-6 mb-3">

                <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ source.name}}</h5>
                        <p class="card-text">{{source.description}}</p>
                        <a href="/article/{{source.id}}" class="btn btn-dark">Articles</a>
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>